.Model {
    width: 85%;
    margin: 1rem auto;
}

.Model_box {
    display:grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
}

.Model_box_right h1{
    font-size: 3rem;
    color: black;
    line-height: .9;
}

.Model_box_right h1 span{
    display: block;
    font-size: 5rem;
}

.Model_box_right small {
    font-size: 1.2rem;
    color: black;
}

.Model_box_right_name_info {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 0px 0px 1px black;
    border-radius: .5rem;
    cursor: pointer;
}

.Model_box_right_name_info input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
}

.Model_box_right_name_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.Model_box_right_name_btn button {
    background-color: white;
    box-shadow: 0px 0px 0px 1px black;
    outline: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: white;
    padding: 1rem;
    display: flex;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 35em) {
    .Model {
        width: 95%;
    }

    .Model_box {
        grid-template-columns: 1fr;
    }

    .Model_box_right h1 {
        font-size: 1rem;
        list-style-type: 1.2;
    }

    .Model_box_right h1 span {
        font-size: 2.5rem;
    }

    .Model_box_right_name_btn {
        display:grid;
        grid-template-columns: 1fr;
        z-index: 111111;
    }
}